* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
}

.underlay {
	height: 100%;
	width: 100%;
	background-color: black;
	overflow: hidden;
}

.project-display {
	-webkit-transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
	-ms-transition: all .1s ease-in;
}
.translate {
	transform-style: flat;
	transform: perspective(1000px) translate3d(0px,0px,10px);
}
.project {
	-webkit-transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
	-ms-transition: all .1s ease-in;
}
.translate-inverse {
	transform-style: flat;
	transform: perspective(1000px) translate3d(0px,0px,-10px);
}

.project-display {
	position: relative;
	height: 33.33333333%;
	min-height: 300px;
	width: 100%;
	opacity: .5;
	z-index: 0;
	overflow: hidden;
}

.project {
	position: absolute;
	height: 100%;
}
.project img {
	z-index: 0;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
	width: 100%;
	margin: 0, auto;
}

.button {
	transform: perspective(500px) scale(.25);
	font-size: 1.5em;
	background-color: rgba(255,255,255,.15);
	padding: 10px;
	outline: 2px solid white;
    outline-offset: 5px;
	position: absolute;
	margin-left: 16%;
	top: 50%;
  	transform: translateY(-50%);
	z-index: 3;
}

#one {

}
#two {

}
#three {

}

#box {
	width: 50px;
	height: 50px;
	background-color: red;
}